:root {
    --planetScale: 0.8em;
    --orbitScale: 0.7em;
    --orbitSpeed: calc(0.00005s * 24 * 60 * 60);
}

/*  */

* {
    box-sizing: border-box;

    margin: 0;
    border: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    
    background-color: rgb(0, 0, 20);
    overflow: hidden;

    font-size: 100px;
}

.solar-system { position: relative; }

.sun, .orbit {
    position: absolute;
    left: 0;
    right: 0;
    
    aspect-ratio: 1;
    border-radius: 50%;
}

.sun { 
    box-shadow: 0 0 0.1em 0.02em rgba(255, 255, 0, 0.4), 0 0 0.2em 0.1em rgba(255, 203, 0, 0.1); 
    
    transform: translate(-50%, -50%) !important;
}

.sun, .planet {
    position: absolute;
    
    aspect-ratio: 1;
    width: calc(var(--size) * var(--planetScale));
    border-radius: 50%;
    
    background-color: var(--color);
    
    transform: translateX(-50%);
}

.orbit {
    top: calc(var(--orbitSize) * var(--orbitScale) * -0.5);
    left: calc(var(--orbitSize) * var(--orbitScale) * -0.5);

    display: flex;
    align-items: center;

    width: calc(var(--orbitSize) * var(--orbitScale));
    border: 0.01em solid rgba(255, 255, 255, 0.1);

    animation: orbit linear infinite;
    animation-duration: calc(var(--orbitDuration) * var(--orbitSpeed));
}
.orbit[reversed] { animation-direction: reverse; }

.planet::before {
    content: '';

    position: absolute;
    left: -6em;
    top: -250%;

    width: 6em;
    height: 600%;

    box-shadow: 0 0 10px 10px rgba(0, 0, 20, 0.1), inset 0 0 100px 10px rgba(0, 0, 20, 0.1);
    clip-path: polygon(0 0, 100% 40%, 100% 60%, 0% 100%);
}
.planet::after {
    content: '';

    position: absolute;
    left: 10%;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    clip: auto;
}

/*  */

@keyframes orbit {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*  */

@media (max-width: 950px) { body { font-size: 75px; } }
@media (max-width: 720px) { body { font-size: 50px; } }
@media (max-width: 480px) { body { font-size: 30px; } }